<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header card-header-warning">
                  <h4 class="card-title">Profile</h4>
              </div>
              <div class="card-body">
                  <div class="tab-content">
                      <div class="tab-pane active" id="profile">
                          <form #onForm="ngForm">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td><label>Address</label></td>
                                          <td>address</td>
                                      </tr>
                                      <tr>
                                          <td><label>Roommates</label></td>
                                          <td>roommates</td>
                                      </tr>
                                      
                                  </tbody>
                              </table>
                          </form>
                          <button (click)="updatePerson()" type="button" class="btn btn-success">Update</button>
                          <button (click)="cancelPerson()" type="button" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Address</h4>
              </div>
              <div class="card-body">
                  <div class="tab-content">
                      <div class="tab-pane active" id="profile">
                          <form #onForm="ngForm">
                              <table class="table">
                                  <tbody>
                                      
                                  </tbody>
                              </table>
                          </form>
                          <button (click)="updatePerson()" type="button" class="btn btn-success">Update</button>
                          <button (click)="cancelPerson()" type="button" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    </div>
</div>
