<div class="main-content">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Application form</h4>
            <p class="card-category">Fill out all following information to complete your profile</p>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fist Name" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Middle Name" type="text">
                        </mat-form-field>
                      </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Preferred Name" type="text">
                        </mat-form-field>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Current Address" type="text">
                      </mat-form-field>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="CeilPhone" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="WorkPhone" type="text">
                        </mat-form-field>
                      </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Car Information" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" type="text">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="SSN" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Date of Birth" type="text">
                        </mat-form-field>
                      </div>
                    
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Gender</mat-label>
                            <select matNativeControl required>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="no answer">I don't want to answer</option>
                            </select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <input type="checkbox" id="q1" name="q1" value="Citzen">
                    <label for="q1">Are you a citizen or permanent resident of the U.S?</label><br>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>If yes, choose from below</mat-label>
                        <select matNativeControl required>
                          <option value="citizen">Citizen</option>
                          <option value="pr">Permanent Resident</option>
                        </select>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>If no, choose your work authorization</mat-label>
                        <select matNativeControl required>
                          <option value="H1B">H1-B</option>
                          <option value="L2">L2</option>
                          <option value="F1">F1</option>
                          <option value="H4">H4</option>
                          <option value="Other">Other</option>

                        </select>
                      </mat-form-field>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Start Date" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="End Date" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <input type="checkbox" id="q2" name="q2" value="driver license">
                    <label for="q2">Do you have a driver license?</label><br>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Driver License Number" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Expiration Date" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <label>Reference</label>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fist Name" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Middle Name" type="text">
                          </mat-form-field>
                        </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Last Name" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Phone" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Address" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="text">
                          </mat-form-field>
                        </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Relationship" type="text">
                        </mat-form-field>
                      </div>
                </div>

                <div class="row">
                    <label>Emergency Contact</label>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Fist Name" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Middle Name" type="text">
                          </mat-form-field>
                        </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Last Name" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Phone" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="text">
                          </mat-form-field>
                        </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Relationship" type="text">
                        </mat-form-field>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <label>About Me</label>
                      <mat-form-field class="example-full-width">
                         <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                       </mat-form-field>
                        <!-- <div class="form-group">

                            <div class="form-group">
                                <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div> -->
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                <div class="clearfix"></div>
            </form>
        </div>
  
          
      
  </div>
</div>
