td
{
    color:black;
    text-align:left;
    font-size:12pt;
}

label
{
    color:black;
    text-align:left;
    font-size:12pt;
}

input
{
    color:black;
    text-align:left;
    font-size:12pt;
}