<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">{{parsedJson.person.firstName}} {{parsedJson.person.lastName}}</p>
                      <h3 class="card-title"><small>DOB<br></small>{{parsedJson.person.dob}}</h3>
                      <h3 class="card-title"><small>Age<br></small>30</h3>
                      <h3 class="card-title"><small>Gender<br></small>{{parsedJson.person.gender}}</h3>
                      <h3 class="card-title"><small>SSN<br></small>{{parsedJson.person.ssn}}</h3>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <p class="card-category">Address</p>
                      <h3 class="card-title">{{parsedJson.primary.addressLine1}}</h3>
                      <h3 class="card-title">{{parsedJson.primary.addressLine2}}</h3>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <p class="card-category">Contact</p>
                      <h3 class="card-title"><small>Personal Email<br></small>{{parsedJson.person.email}}</h3>
                      <h3 class="card-title"><small>Work Email<br></small>{{parsedJson.person.email}}</h3>
                      <h3 class="card-title"><small>Cellphone<br></small>{{parsedJson.person.cellPhone}}</h3>
                      <h3 class="card-title"><small>Work phone<br></small>{{parsedJson.person.alternatePhone}}</h3>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <p class="card-category">Employment</p>
                      <h3 class="card-title"><small>Work Authorization<br></small> OPT</h3>
                      <h3 class="card-title"><small>Start Date and end date<br></small> 01/01/1990 - 01/01/1995</h3>
                      <h3 class="card-title"><small>Employment Start Date and end date<br></small> 01/01/1990 - 01/01/1995</h3>
                      <h3 class="card-title"><small>Work Authorization<br></small> OPT</h3>
                      <h3 class="card-title"><small>Title<br></small> OPT</h3>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Emergency Contact</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>operation</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dakota Rice</td>
                                <td>2018850001</td>
                                <td>1000 Clinton St.&nbsp;&nbsp;Hoboken&nbsp;&nbsp;NJ</td>
                                <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Minerva Hooper</td>
                                <td>2018850001</td>
                                <td>1000 Clinton St.&nbsp;&nbsp;Hoboken&nbsp;&nbsp;NJ</td>
                                <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sage Rodriguez</td>
                                <td>2018850001</td>
                                <td>1000 Clinton St.&nbsp;&nbsp;Hoboken&nbsp;&nbsp;NJ</td>
                                <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Philip Chaney</td>
                                <td>2018850001</td>
                                <td>1000 Clinton St.&nbsp;&nbsp;Hoboken&nbsp;&nbsp;NJ</td>
                                <td class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Documents</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Create date</th>
                              <th>Document name</th>
                              <th>Preview</th>
                              <th>Download</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>01/01/2020</td>
                                  <td>opt.txt</td>
                                  <td>
                                      <a href="">preview</a>
                                  </td>
                                  <td>
                                      <a href="">Download</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>01/01/2020</td>
                                  <td>opt.txt</td>
                                  <td>
                                    <a href="">preview</a>
                                  </td>
                                  <td>
                                    <a href="">Download</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>01/01/2020</td>
                                  <td>opt.txt</td>
                                  <td>
                                    <a href="">preview</a>
                                  </td>
                                  <td>
                                    <a href="">Download</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>01/01/2020</td>
                                  <td>opt.txt</td>
                                  <td>
                                    <a href="">preview</a>
                                  </td>
                                  <td>
                                    <a href="">Download</a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
