<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <p class="card-category">OPT STATUS</p>
                    <h3 class="card-title">OPT Receipt</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <p class="card-category">Next to do</p>
                    <h3 class="card-title">Please upload a copy of your OPT STEM EAD</h3>
                </div>
                <div class="card-footer">
                  <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                </button>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Documents</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Create date</th>
                            <th>Document name</th>
                            <th>Preview</th>
                            <th>Download</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2020</td>
                                <td>opt.txt</td>
                                <td>
                                    <a href="">preview</a>
                                </td>
                                <td>
                                    <a href="">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>opt.txt</td>
                                <td>
                                  <a href="">preview</a>
                                </td>
                                <td>
                                  <a href="">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>opt.txt</td>
                                <td>
                                  <a href="">preview</a>
                                </td>
                                <td>
                                  <a href="">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>01/01/2020</td>
                                <td>opt.txt</td>
                                <td>
                                  <a href="">preview</a>
                                </td>
                                <td>
                                  <a href="">Download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
